@model BusinessObjectModel.FaculltyStudents

@{
    ViewBag.Title = "Find";
}

<h2>Find</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BornDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BornDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacultyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacultyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Generation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Generation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Export", "Export", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
