@model BusinessObjectModel.FaculltyStudents
@using (Html.BeginForm())
{

    @Html.Partial("_EditHelper", Model)
    <div class="form-group">
        @Html.LabelFor(model => model.FacultyName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FacultyName, ViewBag.isReadOnly == true ? (object)new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } } : (object)new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FacultyName, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <br />
    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.Generation, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Generation, ViewBag.isReadOnly == true ? (object)new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } } : (object)new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Generation, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />
    <br />
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id, htmlAttributes = new {@disabled = ViewBag.ShowButton } })
            <input type="submit" name="submit" id="submit" value="Save" class="btn btn-default" readonly="@ViewBag.ShowButton" />

        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
