
@model LayeredSolution.ViewModels.ErrorsViewModel


<h2>Find</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Er_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Er_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Er_LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Er_LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Er_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Er_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Er_PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Er_PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Er_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Er_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Er_FacultyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Er_FacultyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Er_Generation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Er_Generation)
        </dd>

    </dl>
</div>
   