@model LayeredSolution.ViewModels.FaculltyViewModel

@{

}

<h2>Welcom to your Faculty Student  profile</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Born Date
        </th>
        <th>
            Email
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Address
        </th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.BornDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Address)
        </td>
</table>