@model LayeredSolution.ViewModels.ProfessorViewModel

@using (Html.BeginForm())
{

    @Html.Partial("_EditHelper", Model)
    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Subject, Model.isReadOnly == true ? (object)new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } } : (object)new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    @Html.DisplayFor(model => model.Er_Subject)
    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.HoursPerWeek, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HoursPerWeek, Model.isReadOnly == true ? (object)new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } } : (object)new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HoursPerWeek, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    @Html.DisplayFor(model => model.Er_HoursPerWeek)
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, Model.isReadOnly == true ? (object)new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } } : (object)new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />
    @Html.DisplayFor(model => model.Er_Password)
    <br />
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id, htmlAttributes = new { @disabled = Model.ShowButton } })
            <input type="submit" name="submit" id="submit" value="Save" class="btn btn-default" readonly="@Model.ShowButton" />

        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
