@model IEnumerable<LayeredSolution.ViewModels.HighSchoolViewModel>


<p>
    @if ((User.IsInRole("Admin")) || (User.IsInRole("Professor")))
    {
        @Html.ActionLink("Create New", "Create")
    }



</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BornDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolName)
        </th>

        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BornDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PhoneNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SchoolName)
    </td>
    <td>
        @if ((User.IsInRole("Admin")) || (User.IsInRole("Professor")))
        {
           
         <a id="btnDelete" class="btn btn-danger btn-sm" data-toggle="modal"
         data-target="#DeleteModal-@item.Id" style='margin-left:5px'><i class='fa fa-trash'></i> Delete</a>
         using (Html.BeginForm("Delete", "HighSchoolStudents", new { id = item.Id }, FormMethod.Post, null))
            {
             @Html.AntiForgeryToken()
             <div class="modal" tabindex="-1" role="dialog" id="DeleteModal-@item.Id">
             @Html.Partial("_DeletePopUp")
                </div>
            }
        @Html.ActionLink("Details", "Details", new { id = item.Id })

    }

        </td>
    </tr>
    }

</table>
@if ((User.IsInRole("Admin")) || (User.IsInRole("Professor")))
{
    <form method="get" action="@Url.Action("Search", "HighSchoolStudents")">
        <label for="search">Search for student at the university:</label>
        <input type="text" name="search" id="search" />
        <button type="submit">Search</button>
    </form>
}

